.componente1 {
  background-color: red;
}

.componente2 {
  background-color: blue;
}

.componente3 {
  background-color: yellow;
}

.componente4 {
  background-color: green;
}

.componente5 {
  background-color: orange;
}

body {
  margin: 0;
}

.main-container-0 {
  display: flex;
  flex: 1;
  padding: 20px 15px;
  gap: 20px;
}

.patient-info-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1
}

