.componente1 {
  background-color: red;
}

.componente2 {
  background-color: blue;
}

.componente3 {
  background-color: yellow;
}

.componente4 {
  background-color: green;
}

.componente5 {
  background-color: orange;
}